:root {
  --secondary-color: rgb(255, 255, 255);
  --primary-color: rgb(225, 207, 201);
  --red-color: rgb(161, 20, 37);
  --dark-color: rgb(52, 2, 7);
  --black-bc: rgba(52, 2, 7, 0.65);
  --border-button: rgba(161, 20, 37, 0.3);

  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-border: 0px 0px 4px 4px;

  --text-font: 'Lora', serif;
  --letter-spacing: 0.03em;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bc: background-color 250ms var(--timing-function);
  --transition-color: color 250ms var(--timing-function);
}

body {
  font-size: 20px;
  font-family: var(--text-font);
  letter-spacing: var(--letter-spacing);
  color: var(--secondary-color) !important;
  background-color: rgb(160, 72, 72);
  font-weight: 400;
  line-height: 1.5;
  margin: 100px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li,
p,
button {
  margin: 0;
  padding: 0;
}


h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

a:hover,
a:focus {
  color:rgb(52, 2, 7) !important;
}


/* Navbar */

.navbar {
  color: var(--secondary-color) !important;
  background-color: rgb(160, 72, 72) !important;
  border-bottom: 2px solid rgba(225, 207, 201, 0.5);
}

.nav-item {
  padding-right: 30px;
}

/* similar styles */

.content {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content-container h1 {
  font-size: 58px;
  padding-bottom: 19px;
}

.content-container h2 {
  font-size: 45px;
   padding-bottom: 20px;
}

/* Index (Home) Page */

.information__logo {
  width: 40px;
  margin-right: 30px;
}

.information__blok {
  display: flex;
  align-items:center;
  justify-content: left;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
}

.navigation-links a {
  margin: 20px;
}


.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--black-bc);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--dark-color);
  color: white;
  transition: var(--transition-color), var(--transition-bc);
}

.primary-link:hover {
  color: var(--primary-color) !important;
  background-color: var(--border-button);
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow:  0px 6px 5px rgb(0 0 1 / 30%), 0px 1px 1px rgb(0 0 0 / 12%), 0px 2px 1px rgb(1 0 1 / 20%);
  transition: var(--transition-color), var(--transition-bc);
}

.secondary-link:hover, 
.secondary-link:focus {
  color: var(--white-color) !important;
  background-color: var(--black-bc);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}



/* footer information */
footer {
  border-top: 2px solid #e1cfc980;
  padding: 20px;
}
footer h2 {
  font-size: 24px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  padding-top: 15px;
}

.email-link:hover {
  text-decoration: underline;
}

.contact__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__social > .social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.contact__social > .social-icons__item.last-child {
  margin-right: 0;
}

.social-icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 30px;
}

.social-icons__item:last-child {
  margin-right: 0;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-position: 50% 50%;
  border-radius: 50%;

  transition: var(--transition-bc), var(--transition-color);
}

.social-icons__link {
  fill: var(--red-color);
  background-color: var(--primary-color);
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--red-color);
  fill: var(--primary-color);
}

/* Work Page */

.img__link {
color: var(--secondary-color) !important;
font-size: 14px;
}

.img__link:hover,
.img__link:focus {
  text-decoration: underline;
  color: var(--primary-color) !important;
}

.img-shadow {
box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.3);
}

/* About Page */

.tab {
  text-indent: 40px;
}

/* Contact Page */
.contact-text {
  font-size: 28px;
  font-weight: 700;
  color: var(--dark-color);
}
.link {
  display: block;
  color: var(--primary-color);
    font-size: 24px;
    text-decoration: none;
    padding-bottom: 30px;
    padding-top: 10px;
}

.link:hover {
  font-weight: 700;
}

/*@media (max-width: 576px) */


@media (max-width: 576px) {
  .content-container h1 {
    padding-top: 15px;
    font-size: 48px;
    line-height: 1.5;
  }

  .content-container h2 {
    font-size: 32px;
    text-align: center;

  }

  .content-container p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .information__blok {
    justify-content: center;;
  }
  .information__logo {
    display: none;
  }

    .navigation-links {
    justify-content: center;
  }
}

